#header {
    width: 100%;
    height: 600px;
    background-image: url(../../assets/portugal1.jpg);
    background-repeat: no-repeat;
    border-bottom: solid 2px var( --dark);
    display: flex;
}

.container-header {
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#menu {
    margin-right: 30px;
}